.worksheet-card .MuiTypography-root {
    font-family: 'PSL Kittithada';
    font-weight: 600;
}

.worksheet-card .MuiTypography-h6 {
    letter-spacing: 1px;
    line-height: 1.3;
}

.worksheet-card.MuiCard-root {
    border: 2px solid #D7D7D7;
    border-radius: 15px;
    box-shadow: none;
}

.worksheet-card .MuiGrid-root.MuiGrid-container {
    border-color: #D7D7D7;
}

.worksheet-card .box-card-media {
    position: relative;
}

/* ---------- start dialog display image ---------- */
.MuiDialog-root.dialog-image-display .MuiPaper-root {
    max-width: 1080px;
}

.MuiDialog-root.dialog-image-display .MuiDialogTitle-root {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
}

.MuiDialog-root.dialog-image-display .MuiDialogContent-root {
    border-bottom: none;
}
/* ---------- end dialog display image ---------- */

/* ---------- start image action button ---------- */
/* .worksheet-card .MuiGrid-container.row-image-action-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.gridContainerUpload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gridContainerActionBtn {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}

.gridContainerUpload button, 
.gridContainerActionBtn button {
    background-color: rgba(226, 226, 226, 0.9);
}

.gridContainerUpload button:hover,
.gridContainerActionBtn button:hover {
    background-color: rgba(215, 215, 215, 1);
}

/* .worksheet-card .MuiGrid-container.row-image-upload-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.worksheet-card .MuiGrid-container.row-image-upload-btn button {
    background-color: rgba(226, 226, 226, 0.9);
}

.worksheet-card .MuiGrid-container.row-image-upload-btn button:hover {
    background-color: rgba(215, 215, 215, 1);
} */
/* ---------- end image action button ---------- */

/* ---------- start dialog create btn ---------- */
.dialog-btn-create .MuiPaper-root.MuiPaper-elevation {
    background-color: rgba(34, 34, 34, 0.9) !important;
}

.dialog-btn-create.MuiDialog-root {
    position: absolute;
    top: 2rem;
    right: unset;
    bottom: unset;
}

.dialog-btn-create .MuiPaper-root.MuiPaper-elevation {
    margin-left: 0;
    height: 32rem;
    border-radius: 0 1rem 1rem 0;
}

.dialog-btn-create .MuiBackdrop-root.MuiModal-backdrop {
    opacity: 0 !important;
}
/* ---------- end dialog create btn ---------- */

/* start layout */
/* body {
    background-color: #F2F2F2 !important;
} */
/* end layout */

/* ---------- start btn ---------- */
.worksheet-list .btn-create-dialog {
    font-family: 'PSL Kittithada';
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0.2rem;
    background-color: #202020;
    border-radius: 0 0 10px 10px;
    transform: rotate(-90deg);
    position: absolute;
    top: 9rem;
    left: -4rem;
    width: 9rem;
}

.worksheet-list .btn-create-dialog:hover {
    background-color: #333333;
}

.swal2-confirm.swal2-worksheet {
    font-weight: 600 !important;
    letter-spacing: 0.1rem !important;
}
.swal2-cancel.swal2-worksheet {
    background-color: transparent !important;
    border: 1px solid #d33 !important; 
    color: #d33 !important;
    font-weight: 600 !important;
    letter-spacing: 0.1rem !important;
}

.swal2-cancel.swal2-worksheet:hover {
    background-image: none !important;
    background-color: rgba(221, 51, 51, 0.1) !important;
}
/* ---------- end btn ---------- */

/* start input */
/* .worksheet-create {
    font-family: 'PSL Kittithada';
} */

/* end input */