.title {
  font-size: 1.875rem !important;
  letter-spacing: 0.2rem;
  text-align: center;
}

.Row {
  background-color: #efedee;
  border-radius: 1rem;
  font-size: 1.375rem;
  line-height: 1.5rem;
}
